/build
/chromium_infra
/infra
/depot_tools
/infra_internal
/build_internal
/puppet
/systems
/data
/release_scripts
/gcloud
/golang
/.cipd
/.gclient*
/.gocache
/.modcache
/.editorconfig
/.vscode
/tags
/mise.local.toml
